* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
transition: all linear 0.2s;
}
.award{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    /* background-color: red; */
}


.award .award-top{
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}
.award .award-top h3{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: rgb(60, 149, 149);
    letter-spacing: 2px;
}
.award .award-bottom{
        margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    /* background-color: yellow; */
}
.award .award-bottom img{
    height: 100%;
}