.contact-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: #f8f9fa; */
    border-radius: 10px;
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
  }
  .contact-container option{
    width: 700px;
  }
  /* contact.css */

.form-group select,
.form-group input,
.form-group textarea {
  width: 100%; /* Ensure all form elements have the same width */
  padding: 10px;
  font-family: cursive;
  color: rgba(0, 0, 0, 0.752);
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
} 

.form-group select {
  appearance: none;
  /* color: orangered; */
   /* Remove default browser styling for dropdown */
  background: white;
}

  .c{
    color: orangered;
    font-family: cursive;
    font-size: 35px;
  }
  .und{
    border-bottom: 2px solid orangered;
  }
  
  .form-section {
    flex: 1;
    min-width: 350px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
  }
  
  .map-section {
    flex: 1;
    min-width: 350px;
    height: 400px;
  }
  
  h2 {
    margin-bottom: 20px;
    font-size: 1.8rem;
    color: #333333cf;
    font-weight: 500;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.846);
    font-family: cursive;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    font-family: cursive;
  }
  
 .contact-container input:focus,
  textarea:focus s {
    border-color: orangered;
    box-shadow: 0 0 3px orangered;
  }
  
  .error {
    color: red;
    font-size: 0.875rem;
  }
  
  .btn-submit {
    font-weight: normal;
    font-family: cursive;
    background-color: orangered;
    color: #ffffff;
    width: 150px;
    padding: 10px 15px;
    font-size: 1rem;
    /* font-size: 16px; */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-submit:hover {
    background-color:rgba(238, 95, 44, 0.92);
  }
  .map-section{
    /* margin-top: 100px;   */
    height: 100%; 
width: 100%;
    margin: auto;
  }
  .map-section iframe{
height: 300px;
  }