/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
.join .top{
    height: 100%;
    width: 100%;
} 
.join .top img{
    height: 100%;
    width: 100%;
}
.join .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0px;
    /* background-color: red; */
}
.join .bottom h3{
    padding-top: 20px;
    font-size: 24px;
    font-weight: 900;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: cursive;
    margin-bottom: 20px;
    color: brown;
    letter-spacing: 2px;
    font-size: 27px;
    text-align: center;
}
.join .bottom p{
    width: 30%;
    border-bottom: 2px solid orangered;
}
.join .bottom .card{
    margin: 20px 0px;
    /* background-color: red; */
    height: 450px;
    width: 600px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.608);
}
.join .bottom .card span{
    padding-top: 20px;
    font-size: 18px;
    font-weight: 900;
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-family: cursive;
    margin-bottom: 20px;
    color: brown;
    letter-spacing: 2px;
    font-size: 17px;
    text-align: center;
    text-align: center;
    display: flex;
    align-items: center;
justify-content: center;
}

.join .bottom .flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.join .bottom .card .boxy{
    display: flex;
    justify-content: center;
    align-items: center;
}
