* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
transition: all linear 0.2s;
}
.store{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}
.store .store-top{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 0px;
}
.store .store-top h3{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: rgb(60, 149, 149);
  letter-spacing: 2px;
}
.store .store-bottom{
  /* height: 400px; */
  /* background-color: red; */
}
.store .store-bottom img{
  position:absolute;
  height: 320px;
  width: 280px;
  border-radius: 20px;
}
.store .store-bottom .card{
  height: 400px;
  /* margin-bottom: 300px; */
}
.store .store-bottom h3{
  display: flex;
  justify-content: center;
  align-items: center;
  position:relative;
  top:260px;
  left: 40px;  
  background-color:rgb(15, 100, 131);
  width: 220px;    
  color: white;
  font-weight: 500;  
  font-size: 18px;    
  height: 30px;
  font-family: monospace;
  border: none;
  border-radius: 5px;
}
.store .store-bottom .card:hover h3 {
  transform: translateY(-20px);
}
