.wishlist-card {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .card {
    /* border: 1px solid #ddd; */
    padding: 16px;
    width: 300px;
    height: 300px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  .card p{
    font-family: monospace;
    font-size: 15px;
    font-family: cursive;
  }
  .card:hover {
    transform: translateY(-5px);
  }
  
  .product-image {
    width: 100%;
    height: auto;
    margin-bottom: 12px;
  }
  
  .product-actions {
    display: flex;
    justify-content: center;
    font-family: monospace;
  }
  
  .add-to-cart-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .add-to-cart-button:hover {
    background-color: #0056b3;
  }
  